.arrow-down path {
  fill: orange;
  font-size: 20px;
  vertical-align: middle;
}

.uploadfile-icon {
  width: 20px;
  font-size: 18px;
  & polygon {
    width: 20px;
    fill: orange;
    font-size: 20px;
  }
}
