@import '../../../scss/style.scss';

.button {
  box-sizing: border-box;
  padding: 15px 23px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  height: 50px;
}

.default {
  color: $color-MineShaft;
  border: 2px solid $color-MineShaft;
}

.btn-search {
  background-color: $color-SandyBrown;
  color: $color-Astronaut;

  &:hover {
    background-color: $color-Astronaut;
    color: $color-White;
  }
}

.btn-cancel {
  background-color: $color-White;
  color: $color-CornflowerBlue;
  border: 3px solid $color-CornflowerBlue;

  &:hover {
    background-color: $color-CornflowerBlue;
    color: $color-White;
  }
}

.btn-mas {
  background-color: $color-CornflowerBlue;
  color: $color-White;

  &:hover {
    background-color: $color-Astronaut;
    color: $color-White;
  }
}

.btn-import {
  background-color: $color-White;
  color: $color-CornflowerBlue;
  border: 2px solid $color-CornflowerBlue;
  padding: 15px 23px;

  &:hover {
    &:hover {
      background-color: $color-CornflowerBlue;
      color: $color-White;
    }
  }
}

//===> light blue background buttons
.btn-cancel__lb {
  background-color: $color-CornflowerBlue;
  color: $color-White;
  border: 2px solid $color-White;

  &:hover {
    background-color: $color-White;
    color: $color-CornflowerBlue;
  }
}

.btn-save__lb {
  background-color: $color-White;
  color: $color-CornflowerBlue;

  &:hover {
    background-color: $color-Astronaut;
    color: $color-White;
  }
}

.btn-help__lb {
  background-color: $color-SandyBrown;
  color: $color-Astronaut;

  &:hover {
    background-color: $color-Astronaut;
    color: $color-White;
  }
}
