.chart-select__month {
  position: absolute;
  right: 0;
  top: -8px;

  color: #f58e6a;
  font-size: 22px;

  background: none;

  border: 1px solid transparent;
  border-radius: 10%;
  width: 100%;

  padding: 10px;

  cursor: pointer;
}

.chart-select__years {
  position: absolute;
  right: 0;
  bottom: 10px;
  z-index: 1;

  font-size: 22px;
  color: #f58e6a;

  background: none;
  border: 1px solid transparent;
  border-radius: 10%;
  width: 100%;
  padding: 16px;

  cursor: pointer;
}
