.opacity-element-onhover {
  opacity: 0.3 !important;
}

.tooltip-custom {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px;
  color: white;
}

.highcharts-point {
  border-radius: 50% !important;
}

.container {
  position: relative;
}

.buttonTest {
  position: absolute;
  top: 50%;
}

#chartjs-id {
  position: relative;
}

.Drop-down-Btn {
  border-radius: 10px;
  box-shadow: 0px 16px 64px rgba(46, 58, 91, 0.16);
  padding: 20px;

  // position: relative;
  // top: -100px;
}

.noHidden {
  display: block;
}

.Hidden {
  display: none;
}
