:root {
  --white: rgb(255, 255, 255);
  --yellow: #ffcd0d;
  --red: #be0000;
  --WoodApple: #596481;
  --Melon: #8592ab;
  --Rhodomyrtus: #2e3a5b;
  --Galic: #f4f5f6;
  --Jicama: #dbe0e6;
  --Berry: #2875ea;
  --Plum: #0d004c;
}

.App {
  width: 50%;
}
